.d-img img {
    height: 600px;
    width: 100%;
    margin-top: 50px;
}

.d-img {
    margin-left: 30px;
}

.d-content {
    margin-top: 50px;
    margin-left: 8%;
}

.d-text {
    font-size: 25px;
    font-family: sans-serif;
}

.d-icon1 {
    margin-left: 25px;
}

.d-icon1 i {
    font-size: 20px;
    margin-left: 35px;
}

.d-icon1 p {
    font-size: 14px;
}


.imgs img {
    height: 147px;
    width: 100%;
}

.desc-text h3 {
    margin-top: 25%;
    margin-left: 10%;
}

@media(min-width:576px) {
    .desc-text h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
}

@media(min-width:1200px) {
    .desc-text h3 {
        margin-top: 25%;
        margin-left: 10%;
    }
}

.desc-text p {
    margin-left: 10%;
}

@media(min-width:576px) {
    .d-content {
        margin-top: 20px;
        margin-left: 0%;
    }

    .d-img {
        margin-left: 0px;
    }

    .d-icon1 {
        margin-left: 50px;
    }

    .imgs img {
        height: 100px;
        width: 100%;
    }
}

@media(min-width:1200px) {
    .d-content {
        margin-top: 50px;
        margin-left: 8%;
    }

    .d-img {
        margin-left: 30px;
    }

    .d-icon1 {
        margin-left: 25px;
    }

    .imgs img {
        height: 147px;
        width: 100%;
    }
}

.t-top {
    font-size: 10px;
    color: grey;
}

.price {
    font-size: 20px;
    font-family: sans-serif;
}





.d-link {
    text-decoration: none;
    color: black;
}

.d-link:hover {
    color: black;
}

.d-btn button {
    background-color: black;
    width: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
}

.colum-img img {
    height: 108px;
    width: 108px;
}

.images {
    margin-top: 50px;
}

.Delivery input::placeholder {
    font-size: 13px;
    font-family: sans-serif;
}

.Delivery input {
    padding: 5px;
    width: 100%;
}

.box {
    background-color: #dff3ee9e;
    color: #256e69;
    font-size: 13px;
    font-family: sans-serif;
}

.buy button {
    background-color: white;
    width: 100%;
    color: black;
    border: 1px solid rgb(122, 121, 121);
    padding: 10px 20px;
    margin-top: 20px;
}